/*
	Variables
	------------------------------------------------
*/

$icon-font : 'bambule-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$white: #ffffff;
$light-grey: #898989;
$lighter-grey: #F1F1F1;
$dark-grey: #333333;
$primary-color: #000000;
